NODE_ENV=development
PORT=5000
SECRET_KEY=addVar
LOG_FORMAT=dev
GITHUB_READ_ONLY=github api token
MONGODB_URI=add mongo uri
KV_URL=vercel KV (redis)
KV_REST_API_URL=vercel KV (redis)
KV_REST_API_TOKEN=vercel KV (redis)
KV_REST_API_READ_ONLY_TOKEN=vercel KV (redis)
TRIGGER_DATA_REFETCH=vercel KV (redis)