@import "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-dark.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.markdown-body {
  padding: 45px;
}

a > img,
p > img {
  display: inline;
}

@media (prefers-color-scheme: dark){
  [href$="#gh-light-mode-only"] {
    display: none;
  }
}

@media (prefers-color-scheme: light){
  [href$="#gh-dark-mode-only"] {
    display: none;
  }
}